*{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

.pokemon-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-list .col{
    padding: 10px;
    width: 25%;
}
.card{
    width: 25%px;
    height: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    margin: 10px 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;

}



.card img{
    width: 100%;

}

.pokemon-detail{
    width: 300px;
    height: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);

}

